<a href="https://colab.research.google.com/github/gotserena/data_viz_2022/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd #นำเข้า pandas

In [3]:
import os

In [4]:
from google.colab import drive #นำข้อมูลจาก drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Mounted at /content/drive

In [5]:
data_file_path = os.path.join(path,'pm-20-jan-2021.csv')
data_df = pd.read_csv(data_file_path)

In [6]:
data_df.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

ตรวจสอบค่าใน column

In [7]:
import numpy as np

In [8]:
set(data_df['province_of_onset'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'คลองใหญ่',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชากบก',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บางบุตร',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มาบตาพุด',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุุทรสงคราม',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'หน้าพระธาตุ',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [1]:
len('ยโสธร')

5

In [31]:
'ยโสธร'[2]

'ส'

In [33]:
'ยโสธร'[3]

'ธ'

## ต่อตาราง
* ต่อในแนวแกน Y (เพิ่มจำนวนข้อมูล)
* ต่อในแนวแกน X (เพิ่มรายละเอียดข้อมูล)

## ต่อแกน Y

In [35]:
BKK = data_df[data_df['province_of_onset'] == 'กรุงเทพมหานคร']
BKK.head(10)

    No.  ...                                         risk
0     1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[10 rows x 10 columns]

In [12]:
KKC = data_df[data_df['province_of_onset']=='ขอนแก่น']
KKC.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อตารางให้เป็นข้อมูล 2 จังหวัด

In [13]:
dataBKKKKC = pd.concat([BKK,KKC])
dataBKKKKC

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                         อยู่ระหว่างการสอบสวน
11697  11698  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 10 columns]

In [14]:
dataBKKKKC = pd.concat([BKK,KKC,BKK])

In [15]:
dataBKKKKC

         No.  ...                                           risk
0          1  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                            ...
12616  12617  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12617  12618  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...   ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12619  12620  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[5592 rows x 10 columns]

## ถ้าเอาตารางไม่เหมือนกันมา concat กัน

In [16]:
BKK2 = data_df[data_df['province_of_onset'] == 'กรุงเทพมหานคร'][['age','nationality', 'sex']]
BKK2.head()

    age nationality   sex
0  61.0       China  หญิง
1  74.0       China  หญิง
3  68.0       China   ชาย
4  66.0       China  หญิง
5  33.0       China  หญิง

In [17]:
KKC3 = data_df[data_df['province_of_onset'] == 'ขอนแก่น'][['age','nationality', 'sex','risk']]
KKC3.head()

       age nationality   sex                                           risk
180   33.0    Thailand   ชาย                                        สนามมวย
462   36.0    Thailand  หญิง    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  19.0    Thailand   ชาย                  คนไทยเดินทางกลับจากต่างประเทศ
1970  70.0    Thailand  หญิง  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  63.0    Thailand  หญิง                  สัมผัสผู้เดินทางจากต่างประเทศ

In [18]:
pd.concat([BKK2 , KKC3])

        age nationality   sex                                         risk
0      61.0       China  หญิง                                          NaN
1      74.0       China  หญิง                                          NaN
3      68.0       China   ชาย                                          NaN
4      66.0       China  หญิง                                          NaN
5      33.0       China  หญิง                                          NaN
...     ...         ...   ...                                          ...
9334   20.0    Thailand   ชาย  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  17.0    Thailand   ชาย  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  12.0    Thailand   ชาย                         อยู่ระหว่างการสอบสวน
11697  17.0    Thailand  หญิง  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  37.0    Thailand  หญิง  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[2803 rows x 4 columns]

In [19]:
KKC4 = data_df[data_df['province_of_onset'] == 'ขอนแก่น'][['age','nationality']]
KKC4.head()

       age nationality
180   33.0    Thailand
462   36.0    Thailand
1466  19.0    Thailand
1970  70.0    Thailand
2637  63.0    Thailand

In [20]:
pd.concat([BKK2 , KKC4])

        age nationality   sex
0      61.0       China  หญิง
1      74.0       China  หญิง
3      68.0       China   ชาย
4      66.0       China  หญิง
5      33.0       China  หญิง
...     ...         ...   ...
9334   20.0    Thailand   NaN
10610  17.0    Thailand   NaN
11517  12.0    Thailand   NaN
11697  17.0    Thailand   NaN
11698  37.0    Thailand   NaN

[2803 rows x 3 columns]

##  ต่อแกน X

In [21]:
personal_data =data_df[['No.','sex','age','nationality']]
personal_data.head()

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [22]:
covid_data = data_df[['No.','announce_date','province_of_isolation','province_of_onset','risk']].sample(frac=1)
covid_data.head()

       No.  ...                                          risk
3439  3440  ...                              State Quarantine
359    360  ...                              พิธีกรรมทางศาสนา
1574  1575  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6747  6748  ...  ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
1207  1208  ...                              พิธีกรรมทางศาสนา

[5 rows x 5 columns]

###สองตารางต่อกัน

In [23]:
personalcovid_data = personal_data.merge(covid_data)
personalcovid_data.head()

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 8 columns]

In [24]:
personalcovid_data = covid_data.merge(personal_data)
personalcovid_data.head()

    No. announce_date province_of_isolation  ...   sex   age nationality
0  3440      9/6/2020               นนทบุรี  ...  หญิง  83.0    Thailand
1   360     3/21/2020              นราธิวาส  ...   ชาย  50.0    Thailand
2  1575     3/31/2020         กรุงเทพมหานคร  ...  หญิง  49.0    Thailand
3  6748    12/31/2020         กรุงเทพมหานคร  ...  หญิง  31.0    Thailand
4  1208     3/28/2020               ปัตตานี  ...   ชาย  51.0    Thailand

[5 rows x 8 columns]

# Save Table

In [25]:
personalcovid_data.to_csv(os.path.join(path,'my_processed_data.csv'))

In [26]:
personalcovid_data.to_csv('my_processed_data.csv')

# Groupby
https://www.kaggle.com/crawford/python-groupby-tutorial#

In [27]:
data_df.groupby('nationality').count()

                No.  announce_date  ...  district_of_onset  risk
nationality                         ...
Afghanistan       1              1  ...                  1     1
Albania           3              3  ...                  2     3
American          1              1  ...                  1     1
American          1              1  ...                  1     1
American Samoa    1              1  ...                  1     1
...             ...            ...  ...                ...   ...
deutsch           1              1  ...                  1     1
thailand          2              2  ...                  2     2
ต่างด้าว         21             21  ...                 21    21
ไทยใหญ่           1              1  ...                  1     1
ไทใหญ่            1              1  ...                  1     1

[100 rows x 9 columns]

In [28]:
data_df.groupby('nationality').mean()

                         No.        age
nationality
Afghanistan      4346.000000  31.000000
Albania          2377.333333  40.666667
American         3862.000000  39.000000
American         3905.000000  46.000000
American Samoa  11687.000000  21.000000
...                      ...        ...
deutsch          3898.000000  55.000000
thailand         6823.000000  53.500000
ต่างด้าว         2944.952381  20.000000
ไทยใหญ่         10379.000000  30.000000
ไทใหญ่           5983.000000  33.000000

[100 rows x 2 columns]

In [29]:
data_df.groupby('nationality').min(' ')

                  No.   age
nationality
Afghanistan      4346  31.0
Albania          1480  33.0
American         3862  39.0
American         3905  46.0
American Samoa  11687  21.0
...               ...   ...
deutsch          3898  55.0
thailand         6822  50.0
ต่างด้าว         2227  13.0
ไทยใหญ่         10379  30.0
ไทใหญ่           5983  33.0

[100 rows x 2 columns]

In [30]:
data_df.groupby('nationality')['age'].min()

nationality
Afghanistan       31.0
Albania           33.0
American          39.0
American          46.0
American Samoa    21.0
                  ...
deutsch           55.0
thailand          50.0
ต่างด้าว          13.0
ไทยใหญ่           30.0
ไทใหญ่            33.0
Name: age, Length: 100, dtype: float64