In [83]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [84]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [85]:
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [86]:
from google.colab import drive   
drive.mount('/content/drive')
path = '/content/drive/My Drive/project'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#เตรียมข้อมูล

#วันที่ 12/01/2020-11-08/2021

In [87]:
data_file_path = os.path.join(path,'confirmed-cases.xlsx')   
data1= pd.read_excel(data_file_path)

In [88]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.xlsx')   
data2= pd.read_excel(data_file_path)

In [89]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.xlsx')   
data3= pd.read_excel(data_file_path)

In [90]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.xlsx')   
data4= pd.read_excel(data_file_path)

In [117]:
data1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [118]:
data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [119]:
data3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [120]:
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
507789,3377406,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN
507790,3377407,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,NaN,NaN
507791,3377408,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507792,3377409,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507793,3377410,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [121]:
data1234=pd.concat([data1,data2,data3,data4])
data1234

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
507789,3377406,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,พิษณุโลก,ทัณฑสถาน/เรือนจำ,NaN,NaN
507790,3377407,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,ศรีสะเกษ,ทัณฑสถาน/เรือนจำ,NaN,NaN
507791,3377408,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507792,3377409,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
507793,3377410,2022-03-21,2022-03-20,ชาย,NaN,NaN,NaN,นครศรีธรรมราช,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [122]:
data1234new= data1234[(data1234['announce_date']>='2020-01-12') & (data1234['announce_date']<='2022-01-31')]
data1234new

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
581380,2440538,2022-01-31,2022-01-30,ชาย,NaN,NaN,Thailand,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN
581381,2440539,2022-01-31,2022-01-30,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
581382,2440540,2022-01-31,2022-01-30,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
581383,2440541,2022-01-31,2022-01-30,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
581384,2440542,2022-01-31,2022-01-30,ชาย,NaN,NaN,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [123]:
data1234new.isnull().sum()

No.                           0
announce_date                 0
Notified date              2795
sex                      134833
age                      214569
Unit                     222681
nationality              223518
province_of_isolation      3956
risk                       1173
province_of_onset        301171
district_of_onset        397844
dtype: int64

In [124]:
data1234new1=data1234new.fillna(value={'Notified date':'ไม่ปรากฏข้อมูล','sex':'ไม่ปรากฏข้อมูล','age':'ไม่ปรากฏข้อมูล','Unit':'ไม่ปรากฏข้อมูล','nationality':'ไม่ปรากฏข้อมูล','province_of_isolation':'ไม่ปรากฏข้อมูล',
                                                      'risk':'ไม่ปรากฏข้อมูล','province_of_onset':'ไม่ปรากฏข้อมูล','province_of_onset':'ไม่ปรากฏข้อมูล','district_of_onset':'ไม่ปรากฏข้อมูล'})
data1234new1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่ปรากฏข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
1,2,2020-01-17,ไม่ปรากฏข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
2,3,2020-01-22,ไม่ปรากฏข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่ปรากฏข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
4,5,2020-01-24,ไม่ปรากฏข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
581380,2440538,2022-01-31,2022-01-30 00:00:00,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581381,2440539,2022-01-31,2022-01-30 00:00:00,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581382,2440540,2022-01-31,2022-01-30 00:00:00,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581383,2440541,2022-01-31,2022-01-30 00:00:00,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581384,2440542,2022-01-31,2022-01-30 00:00:00,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล

In [125]:
data1234new.isnull().sum()

No.                           0
announce_date                 0
Notified date              2795
sex                      134833
age                      214569
Unit                     222681
nationality              223518
province_of_isolation      3956
risk                       1173
province_of_onset        301171
district_of_onset        397844
dtype: int64

In [126]:
data1234new1['sex'].unique()

array(['หญิง', 'ชาย', 'ไม่ปรากฏข้อมูล', 'นาย', '\xa0หญิง', 'ร.ต.ท.'],
      dtype=object)

In [127]:
data1234new1['sex'].replace({'นาย':'ชาย','\xa0หญิง':'หญิง','หห':'ไม่ปรากฏข้อมูล','หญง':'หญิง','หญิิง':'หญิง','ช':'ชาย','ญ':'หญิง','หณิง':'หญิง','ร.ต.ท.':'ไม่ปรากฏข้อมูล'}, inplace=True ) 
data1234new1['sex'].unique()

array(['หญิง', 'ชาย', 'ไม่ปรากฏข้อมูล'], dtype=object)

In [128]:
data1234new1['Unit'].unique()

array(['ปี', 'เดือน', 'ไม่ปรากฏข้อมูล', 'วัน', ' เดือน', ' วัน'],
      dtype=object)

In [129]:
data1234new1['Unit'].replace({' วัน':'วัน',' เดือน':'เดือน'}, inplace=True ) 
data1234new1['Unit'].unique()

array(['ปี', 'เดือน', 'ไม่ปรากฏข้อมูล', 'วัน'], dtype=object)

In [130]:
len(set(data1234new1['province_of_isolation']))

80

In [131]:
set(data1234new1['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ปรากฏข้อมูล'}

In [132]:
data1234new1['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True )

In [133]:
len(set(data1234new1['province_of_isolation']))

78

In [134]:
set(data1234new1['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'จ.ภูเก็ต',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ดอนมดแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครราขสีมา',
 'นครราชสีมา',
 'นครศรธรรมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครีศรีธรรมราช',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปมุมธานี',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมถทรปราการ',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารภี',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี',
 'สุราษฏร์ธานี',
 'สุราษร์ธานี',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุริมทร์',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทัย',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวลำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หัวหิน',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อิสราเอล',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ปรากฏข้อมูล',
 'ไม่ระบุ'}

In [135]:
data1234new1['province_of_onset'].replace({'\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
'\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กาฬสินธิ์':'กาฬสินธุ์',
 'กาฬสินธ์':'กาฬสินธุ์','ขอนแก่่น':'ขอนแก่น','ขัยนาท':'ชัยนาท','ชมพร':'ชุมพร','ชลบุรี\t':'ชลบุรี','ชลบุุรี':'ชลบุรี','ชุุมพร':'ชุมพร',
'ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครปบม':'นครพนม','นครศร๊ะรรมราช':'นครศรีธรรมราช',
 'นครศร๊ะรรมราช':'นครศรีธรรมราช','นตรปฐม':'นครปฐม','นอกเขต':'ไม่ปรากฎข้อมูล','นาราธิวาส':'นราธิวาส','นาวัง':'น่าน','บางกะปิ':'กรุงเทพมหานคร',
'บึงโขงหลง':'บึงกาฬ','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์','บ้านหลวง':'น่าน','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี',
'ปมุมธานี':'ปทุมธานี','ประจวบฯ':'ประจวบคีรีขันธ์','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่','ปัว':'น่าน','ปุทมธานี':'ปทุมธานี','พม่า':'ไม่ปรากฎข้อมูล','พิษณูโลก':'พิษณุโลก',
'ภูเพียง':'น่าน','มหาสาคาม':'มหาสารคาม','มาเลเซีย':'ไม่ปรากฎข้อมูล','ยานาวา':'กรุงเทพมหานคร','ร้องกวาง':'แพร่','ลอง':'แพร่','ลำลูกกา':'ปทุมธานี','วังชิ้น':'แพร่',
'ศรีษะเกษ':'ศรีสะเกษ','สงขลา\u200b':'สงขลา','สถานที่ทำงาน':'ไม่ปรากฎข้อมูล','สมถทรปราการ':'สมุทรปราการ','สมุทรปรากร':'สมุทรปราการ','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
'สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทราปราการ':'สมุทรปราการ','สมุทสงคราม':'สมุทรสงคราม','สมุทสาคร':'สมุทรสาคร','สมุุทรปราการ':'สมุทรปราการ',
'สมุุทรสาคร':'สมุทรสาคร','สอง':'แพร่','สองแคว':'พิษณุโลก','สะแก้ว':'สระแก้ว','สารภี':'เชียงใหม่','สุทรปราการ':'สมุทรปราการ','สุมทรปราการ':'สมุทรปราการ','สุมทรสาคร':'สมุทรสาคร',
'สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุวรรณภูมิ':'ร้อยเอ็ด','สุุราษฎร์ธานี':'สุราษฎร์ธานี',
'สูงเม่น':'แพร่','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา',
'อุดรธานีี':'อุดรธานี','อุบลราขธานี':'อุบลราชธานี','อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี',
'เชีียงราย':'เชียงราย','เด่นชัย':'แพร่','เพชรบุูรณ์':'เพชรบูรณ์','เมือง':'ไม่ปรากฎข้อมูล','เมืองน่าน':'น่าน','เรือ':'เลย','เวียงจันทร์':'ไม่ปรากฎข้อมูล','เวียงสา':'น่าน',
'แล้วป่วย':'ไม่ปรากฎข้อมูล','\xa0สมุทรสาคร':'สมุทรสาคร','กัมพูชา':'ไม่ปรากฎข้อมูล','ดรุงเทพมหานคร':'กรุงเทพมหานคร','ยานนาวา':'กรุงเทพมหานคร',
'ลาดพร้าว':'กรุงเทพมหานคร','ไม่ระบุ':'ไม่ปรากฎข้อมูล','นครนาชสีมา':'นครราชสีมา','อํานาจเจริญ':'อำนาจเจริญ','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','USA':'ไม่ปรากฎข้อมูล','กทม':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี'
,'กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร','กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์',
'กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร','ขอนแก่น\xa0':'ขอนแก่น','ขัยภูมิ':'ชัยภูมิ','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ปรากฎข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
'กทม.':'กรุงเทพมหานคร','กำแพง':'กำแพงเพชร','กำเพงเพชร':'กำแพงเพชร','จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี','จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','ฉวาง':'นครศรีธรรมราช','ฉะเชองเทราร':'ฉะเชิงเทรา',
'ชลฃบุรี':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ\xa0':'ชัยภูมิ','ชุุุมพร':'ชุมพร','ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร','ตรััง':'ตรัง','ตราด\xa0':'ตราด','ตากใบ':'นราธิวาส',
'ต่างจังหวัด':'ไม่ปรากฎข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย','นครนปฐม':'นครปฐม','นครปฐม\xa0':'นครปฐม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'ไม่ปรากฎข้อมูล','นครราชศรีมา':'นครราชสีมา',
'นครราชสสีมา':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมราช':'นครศรีธรมราช','นครศรีฯ':'นครศรีธรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช',
'นครศรีธรมมราช':'นครศรีธรรมราช','ครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช','นครสวรรค':'นครสวรรค์',
'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'ไม่ปรากฎข้อมูล','กรุงเทพมหานคร. / ศรีสะเกษ':'ไม่ปรากฎข้อมูล','นครราชสีมา ลพบุรี':'ไม่ปรากฎข้อมูล','นครสวรรค์\xa0':'นครสวรรค์','นครสีธรรมราช':'นครศรีธรรมราช','นครฯ':'ไม่ปรากฎข้อมูล','นตรนายก':'นครนายก','นนทบุรี\xa0':'นนทบุรี',
'นนทบุุรี':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส\u200b':'นราธิวาส','นราธฺวาส':'นราธิวาส','น่าน/ฉะเชิงเทรา':'ไม่ปรากฎข้อมูล','บางกรวย':'นนทบุรี','บางนา':'กรุงเทพมหานคร','บางปะอิน':'นครศรีอยุธยา','บางละมุง':'ชลบุรี','บางศรีเมือง':'นนทบุรี',
'บางเพียง':'สมุทรปราการ','บุรีรัมภ์':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์', 'ปจ':'ไม่ปรากฎข้อมูล','ปทึมธานี':'ปทุมธานี','ปทุทธานี':'ปทุมธานี','ปทุมฑานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี','ปทุมธาน':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี','ปธุมธานี':'ปทุมธานี','ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์','ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์','นครศรีธรมราช':'นครศรีธรรมราช',
'นครศรีอยุธยา':'พระนครศรีอยุธยา','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','ประทุมธานี':'ปทุมธานี','ประเทศกัมพูชา':'ไม่ปรากฎข้อมูล','ปราจีบุรี':'ปราจีนบุรี','ปอยเปต':'ไม่ปรากฎข้อมูล','ปัตตนรี':'ปัตตานี', 'ปัตตานนี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปััตตานี':'ปัตตานี','ป่าโมก':'อ่างทอง','พรหมพิราม':'พิษณุโลก','พัทยา':'ชลบุรี','พัทลุุง':'พัทลุง','พัังงา':'พังงา',
 'พิษณุโลก\xa0':'พิษณุโลก','ฟินแลนด์':'ไม่ปรากฎข้อมูล','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต', 'ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็ต':'ภูเก็ต','ภูเก็็ต':'ภูเก็ต','มุกาดหาร':'มุกดาหาร','ร.จ.จ.นราธิวาส':'นราธิวาส','รอ':'ไม่ปรากฎข้อมูล','ระบุ':'ไม่ปรากฎข้อมูล','ระยอง\xa0':'ระยอง','ระอยง':'ระยอง', 'ราชบบุรี':'ราชบุรี','ราชบุรี':'ราชบุรี','ราชบุรีี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี',
 'ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ลบุรี':'ลพบุรี','ลพบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลาดกระบัง':'กรุงเทพมหานคร','ลาว':'ไม่ปรากฎข้อมูล','ลำพูน\u200b':'ลำพูน','ลำพููน':'ลำพูน','วังทอง':'พิษณุโลก','วิเศษชัยชาญ':'อ่างทอง', 'พระนครศรียุธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พระพรหม':'นครศรีธรรมราช', 'ศรีษะสะเกษ':'ศรีสะเกษ', 'ศรีสระเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ','สครสวรรค์':'นครสวรรค์','สพรรณบุรี':'สุพรรณบุรี', 'สมทรสงคราม':'สมุทรสงคราม','สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่ปรากฎข้อมูล', 'สมุทปราการ':'สมุทรปราการ','สมุทรปรากา':'สมุทรปราการ',
 'สมุทรปราการ\xa0':'สมุทรปราการ', 'สมุทรศาคร':'สมุทรสาคร','สมุทรสาคร\xa0':'สมุทรสาคร','สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี', 'สมุุทรสงคราม':'สมุทรสงคราม', 'สระก้ว':'สระแก้ว', 'สระบุรี\xa0':'สระบุรี', 'สรินทร์':'สุรินทร์', 'สวิสเซอร์แลนด์':'ไม่ปรากฎข้อมูล',
'สสป.ลาว':'ไม่ปรากฎข้อมูล', 'สะพานสูง':'กรุงเทพมหานคร','สัตหีบ':'ชลบุรี', 'สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่ปรากฎข้อมูล','สามุทรสาคร':'สมุทรสาคร','สิงห์บุรี\xa0':'สิงห์บุรี', 'สุพรรญบุรี':'สุพรรณบุรี', 'สุพรรณบุรั':'สุพรรณบุรี', 'สุพรรณบุรี\xa0':'สุพรรณบุรี','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี', 'สุราษฎธานี':'สุราษฎร์ธานี', 'สุราษฎร์':'สุราษฎร์ธานี', 'สุราษฎร์ฯ':'สุราษฎร์ธานี',
 'สุราษฎ์ธานี':'สุราษฎร์ธานี', 'สุราษธานี':'สุราษฎร์ธานี','สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์', 'สุรินทร์ 32150':'สุรินทร์', 'สุรินทร์,รีสะเกษ':'ไม่ปรากฎข้อมูล', 'สุรินทร์\xa0':'สุรินทร์', 'สุริมทร์':'สุรินทร์','สุริะแก้ว':'สระแก้ว', 'สุุพรรณบุรี':'สุพรรณบุรี', 'สุุราษฏร์ธานี':'สุราษฎร์ธานี', 'สุุราษฯ':'สุราษฎร์ธานี','สุุรินทร์':'สุรินทร์', 'สุุุโขทัย':'สุโขทัย', 'สุโขทับ':'สุโขทัย',
'สุโขทัย\xa0':'สุโขทัย','หนวงบัวลำภู':'หนองบัวลำภู', 'หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู','หนองบัวลำพูน':'หนองบัวลำภู','หนองบัวลําภู':'หนองบัวลำภู','หนอบัวลำภู':'หนองบัวลำภู','หลายจังหวัด':'ไม่ปรากฎข้อมูล','หัวหิน':'ประจวบคีรีขันธ์','ห้วยขวาง':'กรุงเทพมหานคร','อำนาจเจิญ':'อำนาจเจริญ', 'อำนาญเจริญ':'อำนาจเจริญ', 'อำนาเจริญ':'อำนาจเจริญ', 'อิสราเอล':'ไม่ปรากฎข้อมูล',
 'อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรราชธานี':'อุดรธานี','อุตรดิตถ์\xa0':'อุตรดิตถ์','อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิษถ์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุทัยานี':'อุทัยธานี','อุบลราชธานี\xa0':'อุบลราชธานี', 'อุุครดิตถ์':'อุตรดิตถ์', 'อุุบลราชธานี':'อุบลราชธานี', 'อ่งทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง','เชิงเทรา':'ฉะเชิงเทรา', 'เชียรใหญ่':'นครศรีธรรมราช',
 'เชีียงใหม่':'เชียงใหม่','เพขรบุรี':'เพชรบุรี','เพขรบูรณื':'เพชรบุรี','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์','เพชรบุรึ':'เพชรบุรี', 'เพชรบุุรี':'เพชรบุรี', 'เพชรบูรณ์\xa0':'เพชรบูรณ์','เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมืองตาก':'ตาก','เมืองปัตตานี':'ปัตตานี','เลย\xa0':'เลย','แม่ทะ':'ลำปาง','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง','ไม่มีชื่อหอพัก':'ไม่ปรากฎข้อมูล','สารคาม':'มหาสารคาม',
}, inplace=True )

In [136]:
data1234new1['province_of_onset'].replace({'ไม่ปรากฎข้อมูล':'ไม่ปรากฏข้อมูล'}, inplace=True )

In [137]:
set(data1234new1['province_of_onset'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรมราช',
 'นครศรีธรรมราช',
 'นครศรีอยุธยา',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ปรากฏข้อมูล'}

In [138]:
len(set(data1234new1['province_of_onset']))

80

In [139]:
data1234new2=data1234new1.drop(['Notified date','province_of_isolation'],axis=1)
data1234new2

,No.,announce_date,sex,age,Unit,nationality,risk,province_of_onset,district_of_onset
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
...,...,...,...,...,...,...,...,...,...
581380,2440538,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581381,2440539,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581382,2440540,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581383,2440541,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581384,2440542,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล

In [140]:
dataname_data1234new = {'announce_date':'วันที่','sex':'เพศ','age':'อายุ','nationality':'สัญชาติ','province_of_onset':'จังหวัด','risk':'เสี่ยงจาก','district_of_onset':'อำเภอ','Unit':'หน่วย'}
data1234new2.rename(columns=dataname_data1234new,inplace=True)
display(data1234new2)

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล
...,...,...,...,...,...,...,...,...,...
581380,2440538,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581381,2440539,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581382,2440540,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581383,2440541,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล
581384,2440542,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล

In [142]:
data_all1 = pd.DataFrame(data1234new2)
data1234new2['วันที่'] = pd.to_datetime(data_all1['วันที่'], format = "%d/%m/%Y")
data1234new2['เดือน'] = data_all1['วันที่'].dt.month
data1234new2['ปี'] = data_all1['วันที่'].dt.year
data1234new2

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,ปี
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,1,2020
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020
...,...,...,...,...,...,...,...,...,...,...,...
581380,2440538,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022
581381,2440539,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022
581382,2440540,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022
581383,2440541,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022
581384,2440542,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022

In [143]:
data_region = [['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
               ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
               ['ตาก','ตะวันตก','เหนือ','เหนือ','เหนือ'],
               ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
               ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
               ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
               ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
               ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
               ['นครสวรรค์','กลาง','เหนือ','เหนือ','เหนือ'],
               ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
               ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
               ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
               ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
               ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
               ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
               ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรสาคร','กลาง','กลาง','กลาง','กลาง'],
               ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
               ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
               ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
               ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
               ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
               ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
               ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
               ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
               ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
               ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
               ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
               ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]                    
header = ['จังหวัด','ภูมิภาค (ภูมิศาสตร์)','ภูมิภาค (การเมือง)','ภูมิภาค (อุตุนิยมวิทยา)','ภูมิภาค (การท่องเที่ยว)']

In [144]:
df_region = pd.DataFrame.from_records(data_region,columns=header) # สร้างตารางให้จังหวัดและภูมิภาคให้เป็น row
df_region

,จังหวัด,ภูมิภาค (ภูมิศาสตร์),ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [145]:
dataall= data1234new2.merge(df_region,how='left',left_on='จังหวัด',right_on='จังหวัด')
dataall

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,ปี,ภูมิภาค (ภูมิศาสตร์),ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว)
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,1,2020,กลาง,กลาง,กลาง,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440537,2440538,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440538,2440539,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440539,2440540,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440540,2440541,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440541,2440542,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN

In [146]:
data_file_path = os.path.join(path,'03_sohol91_20_01jan_sta.xlsx')
data_0120= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-02feb-sta.xlsx') 
data_0220= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-03mar-sta.xlsx') 
data_0320= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-04apr-sta.xlsx') 
data_0420= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-05may-sta.xlsx') 
data_0520= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-06jun-sta.xlsx') 
data_0620= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-07jul-sta.xlsx') 
data_0720= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-08aug-sta.xlsx') 
data_0820= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-09sep-sta.xlsx') 
data_0920= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-10oct-sta.xlsx') 
data_1020= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-11nov-sta.xlsx') 
data_1120= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-20-12dec-sta.xlsx') 
data_1220= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-01jan-sta.xlsx') 
data_0121= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-02feb-sta.xlsx') 
data_0221= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-03mar-sta.xlsx') 
data_0321= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-04apr-sta.xlsx') 
data_0421= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-05may-sta.xlsx') 
data_0521= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-06jun-sta.xlsx') 
data_0621= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-07jul-sta.xlsx') 
data_0721= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-08aug-sta.xlsx') 
data_0821= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-09sep-sta.xlsx') 
data_0921= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-10oct-sta.xlsx') 
data_1021= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-11nov-sta.xlsx') 
data_1121= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-21-12dec-sta.xlsx') 
data_1221= pd.read_excel(data_file_path)    
data_file_path = os.path.join(path,'03-sohol91-22-01jan-sta.xlsx') 
data_0122= pd.read_excel(data_file_path)

In [147]:
data_0120

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,สาขา สถานีบริการ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ตั้งแต่เดือน มกราคม ถึง เดือน มกราคม 2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปริมาณ /พันลิตร
3,ลำดับที่,จังหวัด,ปตท.,เชลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,พีทีจี,ไทยออยล์,ซัสโก้ ดีลเลอร์ส,สยามเฆมี,ปตท. ค้าปลีก,น้ำมัน ไออาร์พีซี,ไออาร์พีซี,ปตท. น้ำมันและการค้าปลีก,รวมทั้งสิ้น
4,NaN,กรุงเทพฯ และปริมณฑล,1924,7597,11796,2493,12681,1412,111,NaN,645,7,4509,NaN,6241,15766,65182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,74,พัทลุง,NaN,302,NaN,115,16,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,317,780
91,75,ปัตตานี,NaN,43,NaN,NaN,28,108,55,NaN,NaN,NaN,NaN,NaN,NaN,356,590
92,76,ยะลา,NaN,22,NaN,76,9,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,407
93,77,นราธิวาส,NaN,163,115,36,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510,953
94,NaN,ปริมาณรวมทั้งสิ้น,3039,28375,24864,12123,35892,3968,3803,10418,936,7,13177,96,6326,98292,241317

In [148]:
data_0120_1=data_0120.drop([0,1,3],axis=0)
data_0120_2=data_0120_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0120_2['เดือน']=1
data_0120_2['ปี']=2020
data_0120_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,1555,5139,7864,1579,7747,1092,50,NaN,405,7,1443,NaN,6241,9016,42138,1,2020
6,2,สมุทรปราการ,228,933,1292,185,2170,106,NaN,NaN,93,NaN,827,NaN,NaN,2195,8029,1,2020
7,3,นนทบุรี,48,899,931,353,1684,91,NaN,NaN,147,NaN,886,NaN,NaN,1887,6925,1,2020
8,4,ปทุมธานี,94,627,1708,376,1080,123,61,NaN,NaN,NaN,1353,NaN,NaN,2668,8090,1,2020
10,5,พระนครศรีอยุธยา,87,618,242,246,985,27,51,NaN,88,NaN,674,38,NaN,2079,5134,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,253,291,102,263,222,24,NaN,NaN,NaN,NaN,NaN,NaN,598,1754,1,2020
90,74,พัทลุง,NaN,302,NaN,115,16,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,317,780,1,2020
91,75,ปัตตานี,NaN,43,NaN,NaN,28,108,55,NaN,NaN,NaN,NaN,NaN,NaN,356,590,1,2020
92,76,ยะลา,NaN,22,NaN,76,9,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,407,1,2020
93,77,นราธิวาส,NaN,163,115,36,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510,953,1,2020

In [149]:
data_0220

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,สาขา สถานีบริการ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ตั้งแต่เดือน กุมภาพันธ์ ถึง เดือน กุมภาพันธ์ 2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปริมาณ /พันลิตร
3,ลำดับที่,จังหวัด,ปตท.,เชลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,พีทีจี,ไทยออยล์,ซัสโก้ ดีลเลอร์ส,สยามเฆมี,ปตท. ค้าปลีก,น้ำมัน ไออาร์พีซี,ไออาร์พีซี,ปตท. น้ำมันและการค้าปลีก,รวมทั้งสิ้น
4,NaN,กรุงเทพฯ และปริมณฑล,1737,7012,10961,2219,11905,1406,108,NaN,632,3,4123,NaN,3813,15275,59193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,74,พัทลุง,NaN,277,NaN,122,18,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,272,718
91,75,ปัตตานี,NaN,44,NaN,NaN,19,110,48,NaN,NaN,NaN,NaN,NaN,NaN,242,463
92,76,ยะลา,NaN,21,NaN,84,3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,247,378
93,77,นราธิวาส,NaN,169,116,33,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,484,922
94,NaN,ปริมาณรวมทั้งสิ้น,2625,25911,24187,10255,31835,3773,3389,8879,900,3,11911,92,3891,94254,221905

In [150]:
data_0220_1=data_0220.drop([0,1,3],axis=0)
data_0220_2=data_0120_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0220_2['เดือน']=2
data_0220_2['ปี']=2020
data_0220_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,1555,5139,7864,1579,7747,1092,50,NaN,405,7,1443,NaN,6241,9016,42138,2,2020
6,2,สมุทรปราการ,228,933,1292,185,2170,106,NaN,NaN,93,NaN,827,NaN,NaN,2195,8029,2,2020
7,3,นนทบุรี,48,899,931,353,1684,91,NaN,NaN,147,NaN,886,NaN,NaN,1887,6925,2,2020
8,4,ปทุมธานี,94,627,1708,376,1080,123,61,NaN,NaN,NaN,1353,NaN,NaN,2668,8090,2,2020
10,5,พระนครศรีอยุธยา,87,618,242,246,985,27,51,NaN,88,NaN,674,38,NaN,2079,5134,2,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,253,291,102,263,222,24,NaN,NaN,NaN,NaN,NaN,NaN,598,1754,2,2020
90,74,พัทลุง,NaN,302,NaN,115,16,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,317,780,2,2020
91,75,ปัตตานี,NaN,43,NaN,NaN,28,108,55,NaN,NaN,NaN,NaN,NaN,NaN,356,590,2,2020
92,76,ยะลา,NaN,22,NaN,76,9,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,407,2,2020
93,77,นราธิวาส,NaN,163,115,36,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510,953,2,2020

In [151]:
data_0320

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,สาขา สถานีบริการ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ตั้งแต่เดือน มีนาคม ถึง เดือน มีนาคม 2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ปริมาณ /พันลิตร
3,ลำดับที่,จังหวัด,ปตท.,เชลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,พีทีจี,ไทยออยล์,ซัสโก้ ดีลเลอร์ส,สยามเฆมี,ปตท. ค้าปลีก,น้ำมัน ไออาร์พีซี,ไออาร์พีซี,ปตท. น้ำมันและการค้าปลีก,รวมทั้งสิ้น
4,NaN,กรุงเทพฯ และปริมณฑล,1283,6118,10270,1917,11331,1361,107,NaN,520,10,3817,NaN,4660,15019,56414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,74,พัทลุง,NaN,292,NaN,107,16,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,305,750
91,75,ปัตตานี,NaN,43,NaN,NaN,34,104,62,NaN,NaN,NaN,NaN,NaN,NaN,196,440
92,76,ยะลา,NaN,9,NaN,80,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252,371
93,77,นราธิวาส,NaN,184,152,72,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,1292
94,NaN,ปริมาณรวมทั้งสิ้น,1774,23823,22189,8955,30878,3614,3174,9544,764,10,11290,92,4744,92431,213282

In [152]:
data_0320_1=data_0320.drop([0,1,3],axis=0)
data_0320_2=data_0320_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0320_2['เดือน']=3
data_0320_2['ปี']=2020
data_0320_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,1097,4035,6737,1144,6897,1046,44,NaN,331,10,1228,NaN,4660,8455,35683,3,2020
6,2,สมุทรปราการ,95,691,1153,164,2058,97,NaN,NaN,58,NaN,753,NaN,NaN,2258,7327,3,2020
7,3,นนทบุรี,9,822,802,252,1400,103,NaN,NaN,131,NaN,695,NaN,NaN,1843,6057,3,2020
8,4,ปทุมธานี,82,571,1577,357,976,115,63,NaN,NaN,NaN,1142,NaN,NaN,2464,7347,3,2020
10,5,พระนครศรีอยุธยา,84,573,216,212,761,19,42,NaN,88,NaN,609,37,NaN,1831,4472,3,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,248,273,87,190,197,21,NaN,NaN,NaN,NaN,NaN,NaN,553,1569,3,2020
90,74,พัทลุง,NaN,292,NaN,107,16,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,305,750,3,2020
91,75,ปัตตานี,NaN,43,NaN,NaN,34,104,62,NaN,NaN,NaN,NaN,NaN,NaN,196,440,3,2020
92,76,ยะลา,NaN,9,NaN,80,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252,371,3,2020
93,77,นราธิวาส,NaN,184,152,72,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,739,1292,3,2020

In [153]:
data_0420_1=data_0420.drop([0,1,3],axis=0)
data_0420_2=data_0420_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0420_2['เดือน']=4
data_0420_2['ปี']=2020
data_0420_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,728,2999,4964,778,4786,707,32,NaN,219,9,842,NaN,2641,6555,25260,4,2020
6,2,สมุทรปราการ,66,491,926,109,1469,87,NaN,NaN,55,NaN,530,NaN,NaN,1919,5652,4,2020
7,3,นนทบุรี,NaN,654,580,179,917,91,NaN,NaN,128,NaN,530,NaN,NaN,1530,4609,4,2020
8,4,ปทุมธานี,50,449,1056,301,742,86,50,NaN,NaN,NaN,786,NaN,NaN,2105,5625,4,2020
10,5,พระนครศรีอยุธยา,63,448,161,165,548,16,36,NaN,56,NaN,323,32,NaN,1459,3306,4,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,186,209,72,131,186,18,NaN,NaN,NaN,NaN,NaN,NaN,476,1277,4,2020
90,74,พัทลุง,NaN,230,NaN,73,11,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,208,544,4,2020
91,75,ปัตตานี,NaN,5,NaN,NaN,31,105,47,NaN,NaN,NaN,NaN,NaN,NaN,132,320,4,2020
92,76,ยะลา,NaN,NaN,NaN,64,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187,273,4,2020
93,77,นราธิวาส,NaN,185,167,78,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,906,1494,4,2020

In [154]:
data_0520_1=data_0520.drop([0,1,3],axis=0)
data_0520_2=data_0520_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0520_2['เดือน']=5
data_0520_2['ปี']=2020
data_0520_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,เดือน,ปี
5,1,กรุงเทพมหานคร,889,3707,5657,1041,6037,939,42,1536,296,1136,NaN,2340,8075,31695,5,2020
6,2,สมุทรปราการ,83,556,984,137,1763,96,NaN,278,64,669,NaN,NaN,2252,6881,5,2020
7,3,นนทบุรี,NaN,798,664,226,1198,91,NaN,374,115,653,NaN,NaN,1847,5966,5,2020
8,4,ปทุมธานี,59,508,1259,338,951,108,59,280,NaN,1053,NaN,NaN,2488,7104,5,2020
10,5,พระนครศรีอยุธยา,79,535,180,199,685,18,57,221,76,530,36,NaN,1749,4366,5,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,229,235,81,174,193,18,NaN,NaN,NaN,NaN,NaN,516,1446,5,2020
90,74,พัทลุง,NaN,269,NaN,73,13,NaN,27,NaN,NaN,NaN,NaN,NaN,267,649,5,2020
91,75,ปัตตานี,NaN,25,NaN,NaN,35,100,61,NaN,NaN,NaN,NaN,NaN,188,409,5,2020
92,76,ยะลา,NaN,NaN,NaN,76,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,221,336,5,2020
93,77,นราธิวาส,NaN,205,182,94,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1035,1692,5,2020

In [155]:
data_0620_1=data_0620.drop([0,1,3],axis=0)
data_0620_2=data_0620_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0620_2['เดือน']=6
data_0620_2['ปี']=2020
data_0620_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,823,4144,5983,1329,6226,1013,41,1474,285,25,1213,NaN,2270,9011,33838,6,2020
6,2,สมุทรปราการ,90,657,972,159,1732,99,NaN,268,68,NaN,704,NaN,NaN,2295,7044,6,2020
7,3,นนทบุรี,NaN,860,774,266,1253,108,NaN,385,136,NaN,713,NaN,NaN,1899,6394,6,2020
8,4,ปทุมธานี,68,558,1395,376,974,105,63,232,NaN,NaN,1143,NaN,NaN,2617,7531,6,2020
10,5,พระนครศรีอยุธยา,87,592,194,195,699,24,46,236,68,NaN,634,40,NaN,2001,4817,6,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,256,246,124,183,221,27,NaN,NaN,NaN,NaN,NaN,NaN,621,1678,6,2020
90,74,พัทลุง,NaN,324,NaN,114,11,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,316,790,6,2020
91,75,ปัตตานี,NaN,40,NaN,NaN,31,98,53,NaN,NaN,NaN,NaN,NaN,NaN,226,448,6,2020
92,76,ยะลา,NaN,NaN,NaN,64,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263,349,6,2020
93,77,นราธิวาส,NaN,207,174,83,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,897,1546,6,2020

In [156]:
data_0720_1=data_0720.drop([0,1,3],axis=0)
data_0720_2=data_0720_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0720_2['เดือน']=7
data_0720_2['ปี']=2020
data_0720_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,864,4610,6517,1310,6967,1225,45,1648,322,29,1372,NaN,2436,10027,37373,7,2020
6,2,สมุทรปราการ,99,777,1052,166,1924,99,NaN,288,84,NaN,764,NaN,NaN,2464,7717,7,2020
7,3,นนทบุรี,NaN,973,872,261,1326,102,NaN,413,137,NaN,817,NaN,NaN,2114,7015,7,2020
8,4,ปทุมธานี,78,597,1536,414,1124,120,64,295,NaN,NaN,1302,NaN,NaN,2888,8418,7,2020
10,5,พระนครศรีอยุธยา,96,641,184,237,806,18,78,257,90,NaN,783,44,NaN,2192,5427,7,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,288,285,150,208,199,37,NaN,NaN,NaN,NaN,NaN,NaN,655,1822,7,2020
90,74,พัทลุง,NaN,366,NaN,125,10,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,359,900,7,2020
91,75,ปัตตานี,NaN,42,NaN,NaN,33,95,63,NaN,NaN,NaN,NaN,NaN,NaN,249,483,7,2020
92,76,ยะลา,NaN,NaN,NaN,84,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273,382,7,2020
93,77,นราธิวาส,NaN,225,184,82,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,991,1676,7,2020

In [157]:
data_0820_1=data_0820.drop([0,1,3],axis=0)
data_0820_2=data_0820_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0820_2['เดือน']=8
data_0820_2['ปี']=2020
data_0820_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,889,4772,6341,1324,7083,1190,50,1691,320,110,1405,NaN,2452,10234,37862,8,2020
6,2,สมุทรปราการ,94,839,1094,162,1972,104,NaN,282,83,NaN,787,NaN,NaN,2452,7868,8,2020
7,3,นนทบุรี,NaN,1005,850,280,1393,115,NaN,405,144,NaN,761,NaN,NaN,2160,7113,8,2020
8,4,ปทุมธานี,97,589,1493,398,1184,129,58,300,NaN,NaN,1246,NaN,NaN,2860,8352,8,2020
10,5,พระนครศรีอยุธยา,91,628,157,229,755,29,76,215,84,NaN,655,44,NaN,2036,5000,8,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,306,304,168,193,233,24,NaN,NaN,NaN,NaN,NaN,NaN,640,1869,8,2020
90,74,พัทลุง,NaN,369,3,116,8,NaN,40,NaN,NaN,NaN,NaN,NaN,NaN,327,863,8,2020
91,75,ปัตตานี,NaN,45,NaN,NaN,43,72,58,NaN,NaN,NaN,NaN,NaN,NaN,268,486,8,2020
92,76,ยะลา,NaN,NaN,NaN,72,NaN,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,282,392,8,2020
93,77,นราธิวาส,NaN,212,198,82,206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1043,1741,8,2020

In [158]:
data_0920_1=data_0920.drop([0,1,3],axis=0)
data_0920_2=data_0920_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0920_2['เดือน']=9
data_0920_2['ปี']=2020
data_0920_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,873,4681,5796,1204,6880,1140,53,1615,302,142,1298,NaN,2956,10089,37029,9,2020
6,2,สมุทรปราการ,91,808,1062,158,1868,100,NaN,277,81,NaN,715,NaN,NaN,2452,7611,9,2020
7,3,นนทบุรี,NaN,968,775,257,1352,111,NaN,401,152,NaN,704,NaN,NaN,2167,6887,9,2020
8,4,ปทุมธานี,95,590,1416,380,1066,116,66,393,NaN,NaN,1146,NaN,NaN,2820,8088,9,2020
10,5,พระนครศรีอยุธยา,88,601,157,206,727,22,71,205,86,NaN,665,42,NaN,2040,4910,9,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,274,252,164,203,227,24,NaN,NaN,NaN,NaN,NaN,NaN,655,1798,9,2020
90,74,พัทลุง,NaN,368,NaN,127,11,NaN,41,NaN,NaN,NaN,NaN,NaN,NaN,359,907,9,2020
91,75,ปัตตานี,NaN,40,NaN,NaN,28,78,48,NaN,NaN,NaN,NaN,NaN,NaN,201,395,9,2020
92,76,ยะลา,NaN,NaN,NaN,72,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,234,332,9,2020
93,77,นราธิวาส,NaN,199,186,84,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,948,1615,9,2020

In [159]:
data_1020_1=data_1020.drop([0,1,3],axis=0)
data_1020_2=data_1020_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1020_2['เดือน']=10
data_1020_2['ปี']=2020
data_1020_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,779,4640,5307,850,6585,1046,47,1659,287,151,1252,NaN,2350,9595,34547,10,2020
6,2,สมุทรปราการ,92,831,1039,153,1809,104,NaN,299,83,NaN,725,NaN,NaN,2330,7463,10,2020
7,3,นนทบุรี,NaN,993,693,192,1263,107,NaN,408,125,NaN,744,NaN,NaN,2026,6550,10,2020
8,4,ปทุมธานี,96,585,1344,344,1077,123,60,377,NaN,NaN,1194,NaN,NaN,2728,7928,10,2020
10,5,พระนครศรีอยุธยา,81,612,148,201,742,21,56,210,84,NaN,706,41,NaN,1992,4893,10,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,282,261,151,192,214,24,NaN,NaN,NaN,NaN,NaN,NaN,612,1735,10,2020
90,74,พัทลุง,NaN,376,NaN,134,11,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,327,880,10,2020
91,75,ปัตตานี,NaN,53,NaN,NaN,31,108,59,NaN,NaN,NaN,NaN,NaN,NaN,143,394,10,2020
92,76,ยะลา,NaN,NaN,NaN,64,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182,280,10,2020
93,77,นราธิวาส,NaN,205,191,81,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,956,1631,10,2020

In [160]:
data_1120_1=data_1120.drop([0,1,3],axis=0)
data_1120_2=data_1120_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1120_2['เดือน']=11
data_1120_2['ปี']=2020
data_1120_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,672,4550,5240,640,6387,1053,43,1594,312,110,1250,NaN,2091,9535,33477,11,2020
6,2,สมุทรปราการ,9,835,964,156,1883,96,NaN,283,72,NaN,713,NaN,NaN,2489,7500,11,2020
7,3,นนทบุรี,NaN,954,605,181,1226,102,NaN,412,136,NaN,670,NaN,NaN,2087,6372,11,2020
8,4,ปทุมธานี,87,581,1281,339,1048,113,59,364,NaN,NaN,1114,NaN,NaN,2692,7678,11,2020
10,5,พระนครศรีอยุธยา,81,610,152,200,714,23,60,205,82,NaN,695,40,NaN,1990,4851,11,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,267,287,123,182,209,24,NaN,NaN,NaN,NaN,NaN,NaN,596,1687,11,2020
90,74,พัทลุง,NaN,364,NaN,114,10,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,327,847,11,2020
91,75,ปัตตานี,NaN,48,NaN,NaN,32,61,48,NaN,NaN,NaN,NaN,NaN,NaN,148,338,11,2020
92,76,ยะลา,NaN,NaN,NaN,80,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184,298,11,2020
93,77,นราธิวาส,NaN,166,158,77,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,881,1466,11,2020

In [161]:
data_1220_1=data_1220.drop([0,1,3],axis=0)
data_1220_2=data_1220_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1220_2['เดือน']=12
data_1220_2['ปี']=2020
data_1220_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,644,4519,5138,522,6492,1104,44,1651,278,123,1220,NaN,2268,9607,33610,12,2020
6,2,สมุทรปราการ,NaN,862,922,167,1784,106,NaN,301,97,NaN,704,NaN,NaN,2475,7418,12,2020
7,3,นนทบุรี,NaN,952,589,175,1246,103,NaN,392,128,NaN,741,NaN,NaN,2106,6432,12,2020
8,4,ปทุมธานี,1,564,1285,275,1035,118,64,400,NaN,NaN,1168,NaN,NaN,2794,7703,12,2020
10,5,พระนครศรีอยุธยา,11,615,160,120,780,20,76,243,88,NaN,723,40,NaN,2190,5067,12,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,289,268,148,205,218,33,NaN,NaN,NaN,NaN,NaN,NaN,641,1802,12,2020
90,74,พัทลุง,NaN,363,3,124,9,NaN,28,NaN,NaN,NaN,NaN,NaN,NaN,371,898,12,2020
91,75,ปัตตานี,NaN,47,NaN,NaN,31,76,50,NaN,NaN,NaN,NaN,NaN,NaN,143,347,12,2020
92,76,ยะลา,NaN,NaN,NaN,81,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183,293,12,2020
93,77,นราธิวาส,NaN,207,181,75,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,933,1585,12,2020

In [162]:
data_0121_1=data_0121.drop([0,1,3],axis=0)
data_0121_2=data_0121_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0121_2['เดือน']=1
data_0121_2['ปี']=2021
data_0121_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,441,3552,4173,341,4968,864,28,1377,232,113,921,NaN,4207,7484,28702,1,2021
6,2,สมุทรปราการ,NaN,665,739,123,1521,75,NaN,247,67,NaN,553,NaN,NaN,2022,6011,1,2021
7,3,นนทบุรี,NaN,783,464,105,973,92,NaN,337,112,NaN,461,NaN,NaN,1678,5006,1,2021
8,4,ปทุมธานี,NaN,451,1064,212,849,95,39,304,NaN,NaN,823,NaN,NaN,2235,6071,1,2021
10,5,พระนครศรีอยุธยา,NaN,476,118,71,587,20,54,190,64,NaN,431,33,NaN,1616,3660,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,275,214,112,197,239,24,NaN,NaN,NaN,NaN,NaN,NaN,583,1643,1,2021
90,74,พัทลุง,NaN,303,NaN,125,10,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,368,836,1,2021
91,75,ปัตตานี,NaN,35,NaN,NaN,29,72,47,NaN,NaN,NaN,NaN,NaN,NaN,128,311,1,2021
92,76,ยะลา,NaN,NaN,NaN,80,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,289,1,2021
93,77,นราธิวาส,NaN,168,177,87,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,897,1527,1,2021

In [163]:
data_0221_1=data_0221.drop([0,1,3],axis=0)
data_0221_2=data_0221_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0221_2['เดือน']=2
data_0221_2['ปี']=2021
data_0221_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,491,3903,4490,419,5569,949,37,1495,253,130,1028,NaN,3595,8343,30702,2,2021
6,2,สมุทรปราการ,NaN,727,759,127,1662,89,NaN,259,75,NaN,593,NaN,NaN,2195,6487,2,2021
7,3,นนทบุรี,NaN,845,508,87,1134,85,NaN,368,120,NaN,585,NaN,NaN,1891,5623,2,2021
8,4,ปทุมธานี,NaN,451,1103,240,900,112,30,314,NaN,NaN,952,NaN,NaN,2401,6504,2,2021
10,5,พระนครศรีอยุธยา,NaN,507,124,72,672,109,63,210,NaN,NaN,566,35,NaN,1785,4144,2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,265,248,117,203,206,30,NaN,NaN,NaN,NaN,NaN,NaN,596,1666,2,2021
90,74,พัทลุง,NaN,276,NaN,129,28,NaN,31,NaN,NaN,NaN,NaN,NaN,NaN,399,863,2,2021
91,75,ปัตตานี,NaN,42,NaN,NaN,26,82,37,NaN,NaN,NaN,NaN,NaN,NaN,144,331,2,2021
92,76,ยะลา,NaN,NaN,NaN,72,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,260,2,2021
93,77,นราธิวาส,NaN,172,178,87,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,915,1552,2,2021

In [164]:
data_0321_1=data_0321.drop([0,1,3],axis=0)
data_0321_2=data_0321_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0321_2['เดือน']=3
data_0321_2['ปี']=2021
data_0321_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,628,4726,5291,432,6652,1170,38,1753,283,137,1271,NaN,4130,9963,36474,3,2021
6,2,สมุทรปราการ,NaN,870,894,153,1951,110,NaN,306,95,NaN,702,NaN,NaN,2563,7644,3,2021
7,3,นนทบุรี,NaN,1010,606,119,1316,113,NaN,436,139,NaN,683,NaN,NaN,2321,6744,3,2021
8,4,ปทุมธานี,NaN,529,1324,269,1077,123,46,429,NaN,NaN,1128,NaN,NaN,2914,7839,3,2021
10,5,พระนครศรีอยุธยา,NaN,577,145,78,772,120,65,242,NaN,NaN,626,40,NaN,2082,4748,3,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,307,279,120,213,220,30,NaN,NaN,NaN,NaN,NaN,NaN,620,1789,3,2021
90,74,พัทลุง,NaN,300,NaN,128,50,NaN,38,NaN,NaN,NaN,NaN,NaN,NaN,445,961,3,2021
91,75,ปัตตานี,NaN,50,NaN,NaN,33,102,43,NaN,NaN,NaN,NaN,NaN,NaN,172,400,3,2021
92,76,ยะลา,NaN,NaN,NaN,80,NaN,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197,310,3,2021
93,77,นราธิวาส,NaN,211,194,102,222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1048,1778,3,2021

In [165]:
data_0421_1=data_0421.drop([0,1,3],axis=0)
data_0421_2=data_0421_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0421_2['เดือน']=4
data_0421_2['ปี']=2021
data_0421_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,404,3445,4134,356,5132,912,32,1399,230,118,942,NaN,3911,7582,28598,4,2021
6,2,สมุทรปราการ,NaN,685,708,122,1550,86,NaN,260,72,NaN,510,NaN,NaN,2084,6077,4,2021
7,3,นนทบุรี,NaN,774,477,86,1027,96,NaN,309,107,NaN,518,NaN,NaN,1800,5195,4,2021
8,4,ปทุมธานี,NaN,417,1074,225,847,95,31,353,NaN,NaN,903,NaN,NaN,2367,6311,4,2021
10,5,พระนครศรีอยุธยา,NaN,514,134,63,600,85,55,208,NaN,NaN,551,35,NaN,1778,4022,4,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,262,240,127,198,229,27,NaN,NaN,NaN,NaN,NaN,NaN,557,1640,4,2021
90,74,พัทลุง,NaN,242,NaN,110,56,NaN,34,NaN,NaN,NaN,NaN,NaN,NaN,401,843,4,2021
91,75,ปัตตานี,NaN,35,NaN,NaN,29,79,42,NaN,NaN,NaN,NaN,NaN,NaN,114,299,4,2021
92,76,ยะลา,NaN,NaN,NaN,64,6,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170,270,4,2021
93,77,นราธิวาส,NaN,168,177,104,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,924,1560,4,2021

In [166]:
data_0521_1=data_0521.drop([0,1,3],axis=0)
data_0521_2=data_0521_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0521_2['เดือน']=5
data_0521_2['ปี']=2021
data_0521_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,378,3186,3875,291,4667,852,30,1313,174,106,903,NaN,2797,6958,25529,5,2021
6,2,สมุทรปราการ,NaN,643,673,110,1496,84,NaN,255,70,NaN,518,NaN,NaN,1981,5830,5,2021
7,3,นนทบุรี,NaN,717,434,63,957,88,NaN,321,104,NaN,454,NaN,NaN,1635,4774,5,2021
8,4,ปทุมธานี,NaN,392,1027,214,833,106,33,340,NaN,NaN,833,NaN,NaN,2163,5941,5,2021
10,5,พระนครศรีอยุธยา,NaN,529,121,51,552,89,33,206,NaN,NaN,435,36,NaN,1494,3546,5,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,224,221,103,159,195,27,NaN,NaN,NaN,NaN,NaN,NaN,394,1323,5,2021
90,74,พัทลุง,NaN,201,NaN,92,47,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,299,664,5,2021
91,75,ปัตตานี,NaN,25,NaN,NaN,34,74,25,NaN,NaN,NaN,NaN,NaN,NaN,127,285,5,2021
92,76,ยะลา,NaN,NaN,NaN,64,3,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146,241,5,2021
93,77,นราธิวาส,NaN,152,181,85,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,877,1483,5,2021

In [167]:
data_0621_1=data_0621.drop([0,1,3],axis=0)
data_0621_2=data_0621_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0621_2['เดือน']=6
data_0621_2['ปี']=2021
data_0621_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,426,3428,4186,343,5033,921,30,1453,246,137,976,NaN,4564,7664,29406,6,2021
6,2,สมุทรปราการ,NaN,663,718,111,1535,84,NaN,281,74,NaN,388,NaN,NaN,2145,6000,6,2021
7,3,นนทบุรี,NaN,782,473,88,1013,91,NaN,361,118,NaN,505,NaN,NaN,1791,5221,6,2021
8,4,ปทุมธานี,NaN,430,1040,219,871,98,37,364,NaN,NaN,859,NaN,NaN,2303,6221,6,2021
10,5,พระนครศรีอยุธยา,NaN,538,127,51,625,96,53,208,NaN,NaN,495,35,NaN,1581,3808,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,227,231,86,176,188,33,NaN,NaN,NaN,NaN,NaN,NaN,446,1387,6,2021
90,74,พัทลุง,NaN,220,NaN,85,52,NaN,31,NaN,NaN,NaN,NaN,NaN,NaN,371,760,6,2021
91,75,ปัตตานี,NaN,30,NaN,NaN,32,72,34,NaN,NaN,NaN,NaN,NaN,NaN,119,287,6,2021
92,76,ยะลา,NaN,NaN,NaN,64,3,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141,233,6,2021
93,77,นราธิวาส,NaN,107,191,94,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,940,1565,6,2021

In [168]:
data_0721_1=data_0721.drop([0,1,3],axis=0)
data_0721_2=data_0721_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0721_2['เดือน']=7
data_0721_2['ปี']=2021
data_0721_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,360,2799,3599,298,4498,770,30,1220,181,105,766,NaN,4647,6590,25864,7,2021
6,2,สมุทรปราการ,NaN,595,632,99,1445,77,NaN,241,51,NaN,318,NaN,NaN,1928,5386,7,2021
7,3,นนทบุรี,NaN,676,402,81,936,88,NaN,296,104,NaN,426,NaN,NaN,1582,4591,7,2021
8,4,ปทุมธานี,NaN,362,871,189,767,87,34,295,NaN,NaN,639,NaN,NaN,2061,5304,7,2021
10,5,พระนครศรีอยุธยา,NaN,479,96,45,543,95,42,186,NaN,NaN,334,33,NaN,1355,3207,7,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,237,220,96,173,202,24,NaN,NaN,NaN,NaN,NaN,NaN,475,1426,7,2021
90,74,พัทลุง,NaN,190,NaN,105,52,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,332,708,7,2021
91,75,ปัตตานี,NaN,20,NaN,NaN,28,71,31,NaN,NaN,NaN,NaN,NaN,NaN,85,235,7,2021
92,76,ยะลา,NaN,NaN,NaN,52,5,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,253,7,2021
93,77,นราธิวาส,NaN,93,178,66,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,806,1348,7,2021

In [169]:
data_0821_1=data_0821.drop([0,1,3],axis=0)
data_0821_2=data_0821_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0821_2['เดือน']=8
data_0821_2['ปี']=2021
data_0821_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,345,2729,3458,240,4097,713,24,1290,177,121,781,NaN,4413,6161,24548,8,2021
6,2,สมุทรปราการ,NaN,559,599,87,1327,73,NaN,260,56,NaN,317,NaN,NaN,1858,5136,8,2021
7,3,นนทบุรี,NaN,647,379,67,860,75,NaN,346,94,NaN,430,NaN,NaN,1522,4420,8,2021
8,4,ปทุมธานี,NaN,345,884,180,734,102,30,299,NaN,NaN,728,NaN,NaN,1941,5242,8,2021
10,5,พระนครศรีอยุธยา,NaN,448,90,47,506,73,33,178,NaN,NaN,382,32,NaN,1261,3050,8,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,224,232,113,174,198,36,NaN,NaN,NaN,NaN,NaN,NaN,413,1391,8,2021
90,74,พัทลุง,NaN,184,NaN,87,58,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,321,683,8,2021
91,75,ปัตตานี,NaN,20,NaN,NaN,26,56,26,NaN,NaN,NaN,NaN,NaN,NaN,94,222,8,2021
92,76,ยะลา,NaN,NaN,NaN,44,5,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,213,8,2021
93,77,นราธิวาส,NaN,86,165,67,191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,723,1233,8,2021

In [170]:
data_0921_1=data_0921.drop([0,1,3],axis=0)
data_0921_2=data_0921_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0921_2['เดือน']=9
data_0921_2['ปี']=2021
data_0921_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,400,3201,3846,322,4648,805,30,1333,200,117,768,NaN,3835,7126,26631,9,2021
6,2,สมุทรปราการ,NaN,642,657,107,1471,73,NaN,267,60,NaN,341,NaN,NaN,2050,5668,9,2021
7,3,นนทบุรี,NaN,739,444,88,1001,86,NaN,353,112,NaN,496,NaN,NaN,1795,5113,9,2021
8,4,ปทุมธานี,NaN,402,963,200,820,90,32,330,NaN,NaN,757,NaN,NaN,2231,5825,9,2021
10,5,พระนครศรีอยุธยา,NaN,486,105,45,596,80,54,210,NaN,NaN,467,33,NaN,1480,3556,9,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,234,251,103,176,201,30,NaN,NaN,NaN,NaN,NaN,NaN,433,1429,9,2021
90,74,พัทลุง,NaN,213,NaN,84,51,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,349,724,9,2021
91,75,ปัตตานี,NaN,28,NaN,NaN,29,82,30,NaN,NaN,NaN,NaN,NaN,NaN,131,300,9,2021
92,76,ยะลา,NaN,NaN,NaN,44,6,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158,229,9,2021
93,77,นราธิวาส,NaN,95,163,65,208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,834,1365,9,2021

In [171]:
data_1021_1=data_1021.drop([0,1,3],axis=0)
data_1021_2=data_1021_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1021_2['เดือน']=10
data_1021_2['ปี']=2021
data_1021_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,476,3482,4220,330,5234,905,34,1530,258,111,837,NaN,3834,8115,29367,10,2021
6,2,สมุทรปราการ,NaN,673,702,109,1551,91,NaN,296,64,NaN,377,NaN,NaN,2282,6145,10,2021
7,3,นนทบุรี,NaN,762,477,88,1102,78,NaN,411,100,NaN,541,NaN,NaN,1988,5547,10,2021
8,4,ปทุมธานี,NaN,425,1076,213,915,105,31,379,NaN,NaN,935,NaN,NaN,2413,6493,10,2021
10,5,พระนครศรีอยุธยา,NaN,461,116,48,607,79,48,243,NaN,NaN,569,32,NaN,1731,3934,10,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,240,236,117,179,184,21,NaN,NaN,NaN,NaN,NaN,NaN,470,1448,10,2021
90,74,พัทลุง,NaN,208,NaN,75,53,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,397,760,10,2021
91,75,ปัตตานี,NaN,30,NaN,NaN,28,45,38,NaN,NaN,NaN,NaN,NaN,NaN,125,266,10,2021
92,76,ยะลา,NaN,NaN,NaN,40,3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154,219,10,2021
93,77,นราธิวาส,NaN,98,170,63,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,850,1386,10,2021

In [172]:
data_1121_1=data_1121.drop([0,1,3],axis=0)
data_1121_2=data_1121_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1121_2['เดือน']=11
data_1121_2['ปี']=2021
data_1121_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,459,3603,4199,336,5577,977,38,1541,226,120,871,NaN,4357,8612,30915,11,2021
6,2,สมุทรปราการ,NaN,694,715,118,1566,82,NaN,278,68,NaN,337,NaN,NaN,2319,6176,11,2021
7,3,นนทบุรี,NaN,769,470,93,1129,97,NaN,405,108,NaN,569,NaN,NaN,2091,5732,11,2021
8,4,ปทุมธานี,NaN,434,1024,200,922,106,26,393,NaN,NaN,902,NaN,NaN,2584,6591,11,2021
10,5,พระนครศรีอยุธยา,NaN,442,108,48,657,72,55,233,NaN,NaN,613,35,NaN,1830,4094,11,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,222,206,94,187,196,33,NaN,NaN,NaN,NaN,NaN,NaN,511,1449,11,2021
90,74,พัทลุง,NaN,195,NaN,74,59,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,375,728,11,2021
91,75,ปัตตานี,NaN,25,NaN,NaN,27,70,29,NaN,NaN,NaN,NaN,NaN,NaN,117,269,11,2021
92,76,ยะลา,NaN,NaN,NaN,36,7,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163,233,11,2021
93,77,นราธิวาส,NaN,98,146,50,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,853,1346,11,2021

In [173]:
data_1221_1=data_1221.drop([0,1,3],axis=0)
data_1221_2=data_1221_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_1221_2['เดือน']=12
data_1221_2['ปี']=2021
data_1221_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,458,3748,4587,442,6075,991,32,1575,266,122,966,NaN,2709,9281,31252,12,2021
6,2,สมุทรปราการ,NaN,784,763,119,1680,94,NaN,302,72,NaN,381,NaN,NaN,2530,6725,12,2021
7,3,นนทบุรี,NaN,828,530,100,1246,94,NaN,408,126,NaN,620,NaN,NaN,2259,6210,12,2021
8,4,ปทุมธานี,NaN,472,1103,226,997,112,30,349,NaN,NaN,970,NaN,NaN,2844,7104,12,2021
10,5,พระนครศรีอยุธยา,NaN,494,143,63,755,83,53,260,NaN,NaN,721,36,NaN,2091,4698,12,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,272,283,136,202,242,9,NaN,NaN,NaN,NaN,NaN,NaN,560,1704,12,2021
90,74,พัทลุง,NaN,232,NaN,78,63,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,463,854,12,2021
91,75,ปัตตานี,NaN,35,NaN,NaN,27,68,26,NaN,NaN,NaN,NaN,NaN,NaN,139,295,12,2021
92,76,ยะลา,NaN,NaN,NaN,44,6,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,187,264,12,2021
93,77,นราธิวาส,NaN,95,150,60,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,836,1351,12,2021

In [174]:
data_0122_1=data_0122.drop([0,1,3],axis=0)
data_0122_2=data_0121_1.dropna(subset=['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ'])
data_0122_2['เดือน']=1
data_0122_2['ปี']=2022
data_0122_2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,441,3552,4173,341,4968,864,28,1377,232,113,921,NaN,4207,7484,28702,1,2022
6,2,สมุทรปราการ,NaN,665,739,123,1521,75,NaN,247,67,NaN,553,NaN,NaN,2022,6011,1,2022
7,3,นนทบุรี,NaN,783,464,105,973,92,NaN,337,112,NaN,461,NaN,NaN,1678,5006,1,2022
8,4,ปทุมธานี,NaN,451,1064,212,849,95,39,304,NaN,NaN,823,NaN,NaN,2235,6071,1,2022
10,5,พระนครศรีอยุธยา,NaN,476,118,71,587,20,54,190,64,NaN,431,33,NaN,1616,3660,1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,275,214,112,197,239,24,NaN,NaN,NaN,NaN,NaN,NaN,583,1643,1,2022
90,74,พัทลุง,NaN,303,NaN,125,10,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,368,836,1,2022
91,75,ปัตตานี,NaN,35,NaN,NaN,29,72,47,NaN,NaN,NaN,NaN,NaN,NaN,128,311,1,2022
92,76,ยะลา,NaN,NaN,NaN,80,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,289,1,2022
93,77,นราธิวาส,NaN,168,177,87,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,897,1527,1,2022

In [201]:
data_2020_2022=pd.concat([data_0120_2,data_0220_2,data_0320_2,data_0420_2,data_0520_2,data_0620_2,data_0720_2,data_0820_2,data_0920_2,data_1020_2,data_1120_2,data_1220_2,data_0121_2,data_0221_2,data_0321_2,data_0421_2,data_0521_2,data_0621_2,data_0721_2,data_0821_2,data_0921_2,data_1021_2,data_1121_2,data_1221_2,data_0122_2])
data_2020_2022

,ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,เดือน,ปี
5,1,กรุงเทพมหานคร,1555,5139,7864,1579,7747,1092,50,NaN,405,7,1443,NaN,6241,9016,42138,1,2020
6,2,สมุทรปราการ,228,933,1292,185,2170,106,NaN,NaN,93,NaN,827,NaN,NaN,2195,8029,1,2020
7,3,นนทบุรี,48,899,931,353,1684,91,NaN,NaN,147,NaN,886,NaN,NaN,1887,6925,1,2020
8,4,ปทุมธานี,94,627,1708,376,1080,123,61,NaN,NaN,NaN,1353,NaN,NaN,2668,8090,1,2020
10,5,พระนครศรีอยุธยา,87,618,242,246,985,27,51,NaN,88,NaN,674,38,NaN,2079,5134,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,73,ตรัง,NaN,275,214,112,197,239,24,NaN,NaN,NaN,NaN,NaN,NaN,583,1643,1,2022
90,74,พัทลุง,NaN,303,NaN,125,10,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,368,836,1,2022
91,75,ปัตตานี,NaN,35,NaN,NaN,29,72,47,NaN,NaN,NaN,NaN,NaN,NaN,128,311,1,2022
92,76,ยะลา,NaN,NaN,NaN,80,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,289,1,2022
93,77,นราธิวาส,NaN,168,177,87,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,897,1527,1,2022

In [202]:
data_2020_2022.isnull().sum()

ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ       0
Unnamed: 1                                                                                                    0
Unnamed: 2                                                                                                 1785
Unnamed: 3                                                                                                  114
Unnamed: 4                                                                                                  296
Unnamed: 5                                                                                                  396
Unnamed: 6                                                                                                   82
Unnamed: 7                                                                                                  722
Unnamed: 8                                                                                                  557
Unnamed: 9                                                                                                 1130
Unnamed: 10                                                                                                1786
Unnamed: 11                                                                                                1875
Unnamed: 12                                                                                                1315
Unnamed: 13                                                                                                1874
Unnamed: 14                                                                                                1767
Unnamed: 15                                                                                                   0
Unnamed: 16                                                                                                  77
เดือน                                                                                                         0
ปี                                                                                                            0
dtype: int64

In [203]:
data_2020_2022.drop(['ตารางแสดงปริมาณ น้ำมันแก๊สโซฮอล์อี 10 ออกเทน 91 ที่ผู้ค้าน้ำมันจำหน่ายให้ลูกค้าและผู้ใช้ในจังหวัดต่าง ๆ','Unnamed: 2','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 16'],axis=1, inplace=True)
data_2020_2022

,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 15,เดือน,ปี
5,กรุงเทพมหานคร,5139,7864,1579,7747,1092,50,9016,1,2020
6,สมุทรปราการ,933,1292,185,2170,106,NaN,2195,1,2020
7,นนทบุรี,899,931,353,1684,91,NaN,1887,1,2020
8,ปทุมธานี,627,1708,376,1080,123,61,2668,1,2020
10,พระนครศรีอยุธยา,618,242,246,985,27,51,2079,1,2020
...,...,...,...,...,...,...,...,...,...,...
89,ตรัง,275,214,112,197,239,24,583,1,2022
90,พัทลุง,303,NaN,125,10,NaN,30,368,1,2022
91,ปัตตานี,35,NaN,NaN,29,72,47,128,1,2022
92,ยะลา,NaN,NaN,80,NaN,33,NaN,176,1,2022
93,นราธิวาส,168,177,87,198,NaN,NaN,897,1,2022

In [204]:
data_2020_2022.isnull().sum()

Unnamed: 1       0
Unnamed: 3     114
Unnamed: 4     296
Unnamed: 5     396
Unnamed: 6      82
Unnamed: 7     722
Unnamed: 8     557
Unnamed: 15      0
เดือน            0
ปี               0
dtype: int64

In [205]:
dataname = {'Unnamed: 1':'จังหวัด','Unnamed: 3':'เซลล์','Unnamed: 4':'เอสโซ่','Unnamed: 5':'เชฟรอน(ไทย)','Unnamed: 6':'บางจาก','Unnamed: 7':'ซัสโก้','Unnamed: 8':'ไทยออยล์','Unnamed: 15':'ปตท. น้ำมันและการค้าปลีก'}
data_2020_2022.rename(columns=dataname,inplace=True)
display(data_2020_2022)

,จังหวัด,เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก,เดือน,ปี
5,กรุงเทพมหานคร,5139,7864,1579,7747,1092,50,9016,1,2020
6,สมุทรปราการ,933,1292,185,2170,106,NaN,2195,1,2020
7,นนทบุรี,899,931,353,1684,91,NaN,1887,1,2020
8,ปทุมธานี,627,1708,376,1080,123,61,2668,1,2020
10,พระนครศรีอยุธยา,618,242,246,985,27,51,2079,1,2020
...,...,...,...,...,...,...,...,...,...,...
89,ตรัง,275,214,112,197,239,24,583,1,2022
90,พัทลุง,303,NaN,125,10,NaN,30,368,1,2022
91,ปัตตานี,35,NaN,NaN,29,72,47,128,1,2022
92,ยะลา,NaN,NaN,80,NaN,33,NaN,176,1,2022
93,นราธิวาส,168,177,87,198,NaN,NaN,897,1,2022

In [206]:
datanew_2020_2022=data_2020_2022.fillna('ไม่ปรากฏข้อมูล')
datanew_2020_2022

,จังหวัด,เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก,เดือน,ปี
5,กรุงเทพมหานคร,5139,7864,1579,7747,1092,50,9016,1,2020
6,สมุทรปราการ,933,1292,185,2170,106,ไม่ปรากฏข้อมูล,2195,1,2020
7,นนทบุรี,899,931,353,1684,91,ไม่ปรากฏข้อมูล,1887,1,2020
8,ปทุมธานี,627,1708,376,1080,123,61,2668,1,2020
10,พระนครศรีอยุธยา,618,242,246,985,27,51,2079,1,2020
...,...,...,...,...,...,...,...,...,...,...
89,ตรัง,275,214,112,197,239,24,583,1,2022
90,พัทลุง,303,ไม่ปรากฏข้อมูล,125,10,ไม่ปรากฏข้อมูล,30,368,1,2022
91,ปัตตานี,35,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,29,72,47,128,1,2022
92,ยะลา,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,80,ไม่ปรากฏข้อมูล,33,ไม่ปรากฏข้อมูล,176,1,2022
93,นราธิวาส,168,177,87,198,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,897,1,2022

In [207]:
data_one_for_all=pd.merge(dataall,datanew_2020_2022,on=('เดือน','ปี','จังหวัด'))
data_one_for_all

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
2,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
3,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
4,6,2020-01-25,หญิง,33.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2139209,2438038,2022-01-31,หญิง,52,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2139210,2438039,2022-01-31,ชาย,21,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2139211,2438040,2022-01-31,ชาย,5,ปี,Thailand,อื่นๆ,ระนอง,ละอุ่น,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2139212,2438041,2022-01-31,ชาย,37,ปี,Thailand,อื่นๆ,ระนอง,กระบุรี,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2139213,2438042,2022-01-31,หญิง,86,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108

In [ ]:
data_one_for_all1 = data_one_for_all[(data_one_for_all['วันที่'] >= '2020-01-12') & (data_one_for_all['วันที่'] <= '2021-06-20')]
data_one_for_all1

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
2,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
3,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
4,6,2020-01-25,หญิง,33.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,...,กลาง,กลาง,กลาง,5139,7864,1579,7747,1092,50,9016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215318,210817,2021-06-19,หญิง,10.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ภูซาง,6,...,เหนือ,เหนือ,เหนือ,40,141,9,43,34,61,554
215319,210818,2021-06-19,หญิง,3.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ภูซาง,6,...,เหนือ,เหนือ,เหนือ,40,141,9,43,34,61,554
215320,210819,2021-06-19,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เชียงคำ,6,...,เหนือ,เหนือ,เหนือ,40,141,9,43,34,61,554
215321,214481,2021-06-20,ชาย,47.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ภูซาง,6,...,เหนือ,เหนือ,เหนือ,40,141,9,43,34,61,554
215322,214482,2021-06-20,ชาย,1.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ภูซาง,6,...,เหนือ,เหนือ,เหนือ,40,141,9,43,34,61,554

In [ ]:
data_one_for_all2 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-06-21') & (data_one_for_all['วันที่'] <= '2021-07-22')]
data_one_for_all2

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
124425,218162,2021-06-21,ชาย,28.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,หางดง,6,...,เหนือ,เหนือ,เหนือ,347,1122,330,1201,51,110,3299
124426,218163,2021-06-21,ชาย,30.0,ปี,Thailand,อื่นๆ,เชียงใหม่,สันทราย,6,...,เหนือ,เหนือ,เหนือ,347,1122,330,1201,51,110,3299
124427,221349,2021-06-22,หญิง,24.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย,6,...,เหนือ,เหนือ,เหนือ,347,1122,330,1201,51,110,3299
124428,221350,2021-06-22,ชาย,34.0,ปี,Thailand,อื่นๆ,เชียงใหม่,สันทราย,6,...,เหนือ,เหนือ,เหนือ,347,1122,330,1201,51,110,3299
124429,221351,2021-06-22,หญิง,30.0,ปี,Thailand,อื่นๆ,เชียงใหม่,สารภี,6,...,เหนือ,เหนือ,เหนือ,347,1122,330,1201,51,110,3299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525873,426476,2021-07-21,ชาย,38.0,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525874,439485,2021-07-22,หญิง,5.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525875,439486,2021-07-22,หญิง,51.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525876,439487,2021-07-22,หญิง,1.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,วบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525877,439488,2021-07-22,หญิง,19.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312

In [ ]:
data_one_for_all3 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-07-23') & (data_one_for_all['วันที่'] <= '2021-07-30')]
data_one_for_all3

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
215626,453133,2021-07-23,หญิง,61.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215627,453134,2021-07-23,หญิง,17.0,ปี,Thailand,อื่นๆ,เชียงราย,ขุนตาล,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215628,453135,2021-07-23,ชาย,62.0,ปี,Thailand,อื่นๆ,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215629,453136,2021-07-23,ชาย,27.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215630,453137,2021-07-23,ชาย,24.0,ปี,Thailand,สถานที่ทำงาน,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525883,482094,2021-07-25,ชาย,19.0,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,ไม่ปรากฏข้อมูล,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525884,497514,2021-07-26,หญิง,25.0,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,แม่ลาน้อย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525885,526887,2021-07-28,ชาย,44.0,ปี,Thailand,อยู่ระหว่างการสอบสวน,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525886,526888,2021-07-28,หญิง,18.0,ปี,Thailand,อยู่ระหว่างการสอบสวน,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312
525887,526889,2021-07-28,หญิง,1.0,ปี,Thailand,อยู่ระหว่างการสอบสวน,แม่ฮ่องสอน,สบเมย,7,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,79,312

In [ ]:
data_one_for_all4 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-07-31') & (data_one_for_all['วันที่'] <= '2021-08-10')]
data_one_for_all4

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
215690,578644,2021-07-31,หญิง,33.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215691,578645,2021-07-31,หญิง,1.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215692,578646,2021-07-31,หญิง,38.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215693,578647,2021-07-31,หญิง,63.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
215694,578648,2021-07-31,ชาย,63.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,7,...,เหนือ,เหนือ,เหนือ,21,236,59,35,56,69,1233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040331,789740,2021-08-10,ชาย,44.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยโสธร,เลิงนกทา,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040332,789741,2021-08-10,ชาย,13.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยโสธร,เลิงนกทา,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040333,792840,2021-08-10,ไม่ปรากฏข้อมูล,33.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,ยโสธร,ไทยเจริญ,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040334,793446,2021-08-10,ไม่ปรากฏข้อมูล,78.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,ยโสธร,ทรายมูล,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040335,795337,2021-08-10,ไม่ปรากฏข้อมูล,33.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,ยโสธร,มหาชนะชัย,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544

In [ ]:
data_one_for_all5 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-08-11') & (data_one_for_all['วันที่'] <= '2021-08-20')]
data_one_for_all5

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
526409,795975,2021-08-11,หญิง,44.0,ปี,Thailand,อื่นๆ,เชียงใหม่,หางดง,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526410,795980,2021-08-11,ชาย,57.0,ปี,Thailand,อื่นๆ,เชียงใหม่,เมือง,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526411,795981,2021-08-11,หญิง,29.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,ไชยปราการ,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526412,795984,2021-08-11,ชาย,5.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,หางดง,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526413,795985,2021-08-11,หญิง,9.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,หางดง,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040416,1003505,2021-08-20,ชาย,32.0,ปี,Thailand,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,ยโสธร,เมือง,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040417,1003506,2021-08-20,หญิง,36.0,ปี,Thailand,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,ยโสธร,เมือง,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040418,1003509,2021-08-20,ชาย,9.0,ปี,Thailand,อื่นๆ,ยโสธร,คำเขื่อนแก้ว,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040419,1003519,2021-08-20,หญิง,53.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ยโสธร,ป่าติ้ว,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544
1040420,1006724,2021-08-20,ไม่ปรากฏข้อมูล,66.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,ยโสธร,คำเขื่อนแก้ว,8,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,41,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,61,ไม่ปรากฏข้อมูล,17,544

In [ ]:
data_one_for_all6 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-08-21') & (data_one_for_all['วันที่'] <= '2021-09-02')]
data_one_for_all6

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
526727,1009766,2021-08-21,หญิง,34.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526728,1009767,2021-08-21,ชาย,49.0,ปี,Thailand,อื่นๆ,เชียงใหม่,ต่างจังหวัด,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526729,1009768,2021-08-21,หญิง,60.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,หางดง,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526730,1009769,2021-08-21,ชาย,39.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
526731,1009770,2021-08-21,ชาย,40.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย,8,...,เหนือ,เหนือ,เหนือ,314,972,285,1059,42,77,2881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384983,1227077,2021-09-02,หญิง,27.0,ปี,Thailand,อื่นๆ,ประจวบคีรีขันธ์,ทับสะแก,9,...,กลาง,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,กลาง,211,149,45,62,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,771
1384984,1229040,2021-09-02,ชาย,39.0,ปี,Thailand,อื่นๆ,ประจวบคีรีขันธ์,ทับสะแก,9,...,กลาง,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,กลาง,211,149,45,62,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,771
1386500,1228694,2021-09-02,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,อำนาจเจริญ,หัวตะพาน,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386501,1233114,2021-09-02,ไม่ปรากฏข้อมูล,6.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,อำนาจเจริญ,พนา,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386502,1233122,2021-09-02,ไม่ปรากฏข้อมูล,35.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,อำนาจเจริญ,พนา,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376

In [ ]:
data_one_for_all7 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-09-03') & (data_one_for_all['วันที่'] <= '2021-09-18')]
data_one_for_all7

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1040528,1234488,2021-09-03,ชาย,38.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงใหม่,หางดง,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1040529,1234489,2021-09-03,หญิง,21.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงใหม่,เมือง,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1040530,1234490,2021-09-03,หญิง,21.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงใหม่,ไม่ปรากฏข้อมูล,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1040531,1234491,2021-09-03,หญิง,5.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงใหม่,สารภี,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1040532,1234492,2021-09-03,ชาย,19.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงใหม่,เชียงดาว,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386560,1442420,2021-09-17,หญิง,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,อำนาจเจริญ,พนา,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386561,1447671,2021-09-17,ชาย,58.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,เมืองอำนาจเจริญ,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386562,1452440,2021-09-18,ชาย,25.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,เมืองอำนาจเจริญ,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386563,1456341,2021-09-18,หญิง,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,อำนาจเจริญ,ปทุมราชวงศา,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376
1386564,1459244,2021-09-18,หญิง,40.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,9,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,13,18,ไม่ปรากฏข้อมูล,24,ไม่ปรากฏข้อมูล,15,376

In [ ]:
data_one_for_all8 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-09-19') & (data_one_for_all['วันที่'] <= '2021-10-05')]
data_one_for_all8

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1041166,1462902,2021-09-19,ชาย,23.0,ปี,Thailand,อื่นๆ,เชียงใหม่,แม่ริม,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1041167,1462903,2021-09-19,ชาย,30.0,ปี,Thailand,อื่นๆ,เชียงใหม่,เมือง,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1041168,1462904,2021-09-19,ชาย,38.0,ปี,Thailand,อื่นๆ,เชียงใหม่,สันทราย,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1041169,1462905,2021-09-19,ชาย,25.0,ปี,Thailand,อื่นๆ,เชียงใหม่,เมือง,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
1041170,1462906,2021-09-19,หญิง,22.0,ปี,Thailand,อื่นๆ,เชียงใหม่,แม่ริม,9,...,เหนือ,เหนือ,เหนือ,334,1057,322,1119,36,93,3228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660650,1642437,2021-10-04,หญิง,32.0,ปี,Thailand,อื่นๆ,อำนาจเจริญ,ไม่ปรากฏข้อมูล,10,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,10,22,ไม่ปรากฏข้อมูล,19,ไม่ปรากฏข้อมูล,19,381
1660651,1645942,2021-10-04,ไม่ปรากฏข้อมูล,58.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,อำนาจเจริญ,ปทุมราชวงศา,10,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,10,22,ไม่ปรากฏข้อมูล,19,ไม่ปรากฏข้อมูล,19,381
1660652,1645943,2021-10-04,ไม่ปรากฏข้อมูล,47.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,อำนาจเจริญ,ปทุมราชวงศา,10,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,10,22,ไม่ปรากฏข้อมูล,19,ไม่ปรากฏข้อมูล,19,381
1660653,1649720,2021-10-05,หญิง,48.0,ปี,Thailand,อื่นๆ,อำนาจเจริญ,เมืองอำนาจเจริญ,10,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,10,22,ไม่ปรากฏข้อมูล,19,ไม่ปรากฏข้อมูล,19,381
1660756,1655954,2021-10-05,ไม่ปรากฏข้อมูล,45.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,ชัยนาท,มโนรมย์,10,...,กลาง,กลาง,กลาง,54,91,ไม่ปรากฏข้อมูล,144,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,398

In [ ]:
data_one_for_all9 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-10-06') & (data_one_for_all['วันที่'] <= '2021-10-25')]
data_one_for_all9

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1386612,1657252,2021-10-06,หญิง,53.0,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ภูซาง,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386613,1666037,2021-10-06,ไม่ปรากฏข้อมูล,49.0,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,พะเยา,แม่ใจ,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386614,1667241,2021-10-07,ชาย,30.0,ปี,Thai,อื่นๆ,พะเยา,ภูกามยาว,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386615,1667242,2021-10-07,หญิง,18.0,ปี,Thai,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ปง,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386616,1667243,2021-10-07,ชาย,54.0,ปี,Thai,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ปง,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661177,1851147,2021-10-25,ชาย,5.0,ปี,Thailand,อื่นๆ,พิจิตร,บึงนาราง,10,...,เหนือ,เหนือ,เหนือ,70,139,23,98,ไม่ปรากฏข้อมูล,41,305
1661178,1851148,2021-10-25,ชาย,72.0,ปี,Thailand,อื่นๆ,พิจิตร,บึงนาราง,10,...,เหนือ,เหนือ,เหนือ,70,139,23,98,ไม่ปรากฏข้อมูล,41,305
1661179,1851149,2021-10-25,ชาย,61.0,ปี,Thailand,อื่นๆ,พิจิตร,บึงนาราง,10,...,เหนือ,เหนือ,เหนือ,70,139,23,98,ไม่ปรากฏข้อมูล,41,305
1661180,1851150,2021-10-25,หญิง,73.0,ปี,Thailand,อื่นๆ,พิจิตร,บึงนาราง,10,...,เหนือ,เหนือ,เหนือ,70,139,23,98,ไม่ปรากฏข้อมูล,41,305
1661181,1851151,2021-10-25,ชาย,10.0,ปี,Thailand,อื่นๆ,พิจิตร,บึงนาราง,10,...,เหนือ,เหนือ,เหนือ,70,139,23,98,ไม่ปรากฏข้อมูล,41,305

In [ ]:
data_one_for_all10 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-10-26') & (data_one_for_all['วันที่'] <= '2021-11-25')]
data_one_for_all10

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1386822,1859196,2021-10-26,หญิง,70,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,แม่ใจ,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386823,1859197,2021-10-26,หญิง,53,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,แม่ใจ,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386824,1859198,2021-10-26,หญิง,31,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,แม่ใจ,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386825,1859199,2021-10-26,ชาย,1,เดือน,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,แม่ใจ,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
1386826,1859200,2021-10-26,ชาย,39,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,10,...,เหนือ,เหนือ,เหนือ,39,107,8,36,41,83,552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846119,2073309,2021-11-23,หญิง,61,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,เมืองอำนาจเจริญ,11,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,15,14,ไม่ปรากฏข้อมูล,22,ไม่ปรากฏข้อมูล,12,418
1846120,2085366,2021-11-25,ชาย,41,ปี,Thailand,อยู่ระหว่างการสอบสวน,อำนาจเจริญ,เมืองอำนาจเจริญ,11,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,15,14,ไม่ปรากฏข้อมูล,22,ไม่ปรากฏข้อมูล,12,418
1846121,2085367,2021-11-25,ชาย,34,ปี,Thailand,อยู่ระหว่างการสอบสวน,อำนาจเจริญ,ลืออำนาจ,11,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,15,14,ไม่ปรากฏข้อมูล,22,ไม่ปรากฏข้อมูล,12,418
1846122,2085368,2021-11-25,ชาย,78,ปี,Thailand,อยู่ระหว่างการสอบสวน,อำนาจเจริญ,เสนางคนิคม,11,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,15,14,ไม่ปรากฏข้อมูล,22,ไม่ปรากฏข้อมูล,12,418
1846123,2085370,2021-11-25,หญิง,67,ปี,Thailand,อยู่ระหว่างการสอบสวน,อำนาจเจริญ,เมืองอำนาจเจริญ,11,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,15,14,ไม่ปรากฏข้อมูล,22,ไม่ปรากฏข้อมูล,12,418

In [ ]:
data_one_for_all11 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-11-26') & (data_one_for_all['วันที่'] <= '2021-12-25')]
data_one_for_all11

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1662176,2088328,2021-11-26,หญิง,45,ปี,Burmese,อื่นๆ,แม่ฮ่องสอน,เมือง,11,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
1662177,2088329,2021-11-26,หญิง,50,ปี,Burmese,อื่นๆ,แม่ฮ่องสอน,เมือง,11,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
1662178,2088330,2021-11-26,ชาย,26,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,แม่ลาน้อย,11,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
1662179,2088331,2021-11-26,ชาย,8,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,แม่ลาน้อย,11,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
1662180,2088332,2021-11-26,ชาย,7,ปี,Thailand,อื่นๆ,แม่ฮ่องสอน,แม่ลาน้อย,11,...,เหนือ,เหนือ,เหนือ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2040284,2192798,2021-12-20,หญิง,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,ชัยภูมิ,ไม่ปรากฏข้อมูล,12,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,75,124,16,243,20,93,834
2040285,2192799,2021-12-20,หญิง,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,ชัยภูมิ,ไม่ปรากฏข้อมูล,12,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,75,124,16,243,20,93,834
2040286,2192799,2021-12-20,หญิง,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,อื่นๆ,ชัยภูมิ,ไม่ปรากฏข้อมูล,12,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,75,124,16,243,20,93,834
2040287,2200566,2021-12-23,หญิง,41,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ชัยภูมิ,ไม่ปรากฏข้อมูล,12,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,75,124,16,243,20,93,834
2040288,2200566,2021-12-23,หญิง,41,ปี,Thailand,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ชัยภูมิ,ไม่ปรากฏข้อมูล,12,...,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,75,124,16,243,20,93,834

In [ ]:
data_one_for_all12 = data_one_for_all[(data_one_for_all['วันที่'] >= '2021-12-26') & (data_one_for_all['วันที่'] <= '2022-01-31')]
data_one_for_all12

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,...,ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว),เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
1846937,2207518,2021-12-26,ชาย,36,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงราย,เมือง,12,...,เหนือ,เหนือ,เหนือ,34,303,56,99,53,68,1678
1846938,2207518,2021-12-26,ชาย,36,ปี,ไม่ปรากฏข้อมูล,อื่นๆ,เชียงราย,เมือง,12,...,เหนือ,เหนือ,เหนือ,34,303,56,99,53,68,1678
1846939,2207519,2021-12-26,หญิง,8,ปี,ไม่ปรากฏข้อมูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,12,...,เหนือ,เหนือ,เหนือ,34,303,56,99,53,68,1678
1846940,2207519,2021-12-26,หญิง,8,ปี,ไม่ปรากฏข้อมูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,12,...,เหนือ,เหนือ,เหนือ,34,303,56,99,53,68,1678
1846941,2207520,2021-12-26,หญิง,36,ปี,ไม่ปรากฏข้อมูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมือง,12,...,เหนือ,เหนือ,เหนือ,34,303,56,99,53,68,1678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233705,2438038,2022-01-31,หญิง,52,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2233706,2438039,2022-01-31,ชาย,21,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2233707,2438040,2022-01-31,ชาย,5,ปี,Thailand,อื่นๆ,ระนอง,ละอุ่น,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2233708,2438041,2022-01-31,ชาย,37,ปี,Thailand,อื่นๆ,ระนอง,กระบุรี,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108
2233709,2438042,2022-01-31,หญิง,86,ปี,Thailand,อื่นๆ,ระนอง,เมืองระนอง,1,...,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,ไม่ปรากฏข้อมูล,78,33,35,ไม่ปรากฏข้อมูล,60,108

In [ ]:
data_all1 = pd.DataFrame(data_one_for_all1)
data_one_for_all1['วันที่'] = pd.to_datetime(data_one_for_all1['วันที่'], format = "%d/%m/%Y")
data_all2 = pd.DataFrame(data_one_for_all2)
data_one_for_all2['วันที่'] = pd.to_datetime(data_one_for_all2['วันที่'], format = "%d/%m/%Y")
data_all3 = pd.DataFrame(data_one_for_all3)
data_one_for_all3['วันที่'] = pd.to_datetime(data_one_for_all3['วันที่'], format = "%d/%m/%Y")
data_all3 = pd.DataFrame(data_one_for_all3)
data_one_for_all4['วันที่'] = pd.to_datetime(data_one_for_all4['วันที่'], format = "%d/%m/%Y")
data_all4 = pd.DataFrame(data_one_for_all4)
data_one_for_all5['วันที่'] = pd.to_datetime(data_one_for_all5['วันที่'], format = "%d/%m/%Y")
data_all5 = pd.DataFrame(data_one_for_all5)
data_one_for_all6['วันที่'] = pd.to_datetime(data_one_for_all6['วันที่'], format = "%d/%m/%Y")
data_all6 = pd.DataFrame(data_one_for_all6)
data_one_for_all7['วันที่'] = pd.to_datetime(data_one_for_all7['วันที่'], format = "%d/%m/%Y")
data_all7 = pd.DataFrame(data_one_for_all7)
data_one_for_all8['วันที่'] = pd.to_datetime(data_one_for_all8['วันที่'], format = "%d/%m/%Y")
data_all8 = pd.DataFrame(data_one_for_all8)
data_one_for_all9['วันที่'] = pd.to_datetime(data_one_for_all9['วันที่'], format = "%d/%m/%Y")
data_all9 = pd.DataFrame(data_one_for_all9)
data_one_for_all10['วันที่'] = pd.to_datetime(data_one_for_all10['วันที่'], format = "%d/%m/%Y")
data_all10 = pd.DataFrame(data_one_for_all10)
data_one_for_all11['วันที่'] = pd.to_datetime(data_one_for_all11['วันที่'], format = "%d/%m/%Y")
data_all11 = pd.DataFrame(data_one_for_all11)
data_one_for_all12['วันที่'] = pd.to_datetime(data_one_for_all12['วันที่'], format = "%d/%m/%Y")
data_all12 = pd.DataFrame(data_one_for_all12)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data_one_for_all1.to_csv('Project2022_1.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all2.to_csv('Project2022_2.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all3.to_csv('Project2022_3.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all4.to_csv('Project2022_4.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all5.to_csv('Project2022_5.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all6.to_csv('Project2022_6.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all7.to_csv('Project2022_7.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all8.to_csv('Project2022_8.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all9.to_csv('Project2022_9.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all10.to_csv('Project2022_10.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all11.to_csv('Project2022_11.csv', encoding = 'UTF-8')

In [ ]:
data_one_for_all12.to_csv('Project2022_12.csv', encoding = 'UTF-8')

In [181]:
dataall

,No.,วันที่,เพศ,อายุ,หน่วย,สัญชาติ,เสี่ยงจาก,จังหวัด,อำเภอ,เดือน,ปี,ภูมิภาค (ภูมิศาสตร์),ภูมิภาค (การเมือง),ภูมิภาค (อุตุนิยมวิทยา),ภูมิภาค (การท่องเที่ยว)
0,1,2020-01-12,หญิง,61.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,หญิง,74.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,หญิง,73.0,ปี,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,1,2020,กลาง,กลาง,กลาง,กลาง
3,4,2020-01-22,ชาย,68.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
4,5,2020-01-24,หญิง,66.0,ปี,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ปรากฏข้อมูล,1,2020,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440537,2440538,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440538,2440539,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440539,2440540,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440540,2440541,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN
2440541,2440542,2022-01-31,ชาย,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,Thailand,ทัณฑสถาน/เรือนจำ,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,1,2022,NaN,NaN,NaN,NaN

In [208]:
dataall.groupby(['จังหวัด','เดือน','ปี'])[['No.']].count()
AAA=dataall.groupby(['จังหวัด','เดือน','ปี'])[['No.']].count()
AAA

                             No.
จังหวัด        เดือน ปี
กระบี่         1     2022   1522
               2     2020      1
               3     2020      7
               4     2020     12
                     2021     66
...                          ...
ไม่ปรากฏข้อมูล 10    2020      1
                     2021  33811
               11    2021  19003
               12    2020    302
                     2021  10460

[1142 rows x 1 columns]

In [222]:
data_one_for_all=pd.merge(AAA,datanew_2020_2022,on=('เดือน','ปี','จังหวัด'))
data_one_for_all

,เดือน,ปี,จังหวัด,No.,เซลล์,เอสโซ่,เชฟรอน(ไทย),บางจาก,ซัสโก้,ไทยออยล์,ปตท. น้ำมันและการค้าปลีก
0,1,2022,กระบี่,1522,392,233,36,205,48,ไม่ปรากฏข้อมูล,658
1,2,2020,กระบี่,1,594,419,72,321,51,ไม่ปรากฏข้อมูล,842
2,3,2020,กระบี่,7,508,351,68,259,53,ไม่ปรากฏข้อมูล,663
3,4,2020,กระบี่,12,270,211,31,152,52,ไม่ปรากฏข้อมูล,369
4,4,2021,กระบี่,66,438,267,41,282,41,ไม่ปรากฏข้อมูล,764
...,...,...,...,...,...,...,...,...,...,...,...
1114,8,2021,แม่ฮ่องสอน,51,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,71,278
1115,9,2021,แม่ฮ่องสอน,362,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,74,313
1116,10,2021,แม่ฮ่องสอน,763,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,73,293
1117,11,2021,แม่ฮ่องสอน,1033,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,88,362
1118,12,2021,แม่ฮ่องสอน,799,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,ไม่ปรากฏข้อมูล,122,401

In [223]:
data_one_for_all.to_csv('32130.csv', encoding = 'UTF-8')